@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lato&family=Poppins&family=Teko:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



/* NAVBAR */

.navbar{
    background-color: #ffffff;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999 !important; 
    color: aliceblue; /* Le pone color a la sombra */
    box-shadow: 10px 10px 10px;
}

.container-navbar{
    height: 57px;
    font-family: Poppins, "Helvetica Neue";
    
}

a.nav-link, a.navbar-brand {
    color: rgba(44, 44, 44, 0.836);
    font-size: 16px;
    margin-right: 50px;
    transition: 0.8s;

}

a.nav-link:hover, a.navbar-brand:hover {
    color: rgb(161, 161, 161);
    transition: 0.2s;
}



/* landing page */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Las columnas ocuparán un fracción igual del ancho disponible */
    grid-gap: 10px; /* Espacio entre las columnas */
    }

.grid-item {
    padding-top: 200px;
    padding-bottom: 200px;
}

.name {
    font-family: Agdasima, "Helvetica Neue";
    font-size: 120px;
    text-align: end;
    padding-left: 300px;
}

.info {
    font-family: Poppins, "Helvetica Neue";
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.342);
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 250px 350px;    } 

        .info {
            margin: 100px;
            margin-bottom: 50px;
            text-align: justify;
            padding: 20px;
            border-radius: 10px;
        }

        .name {
            font-family: Agdasima, "Helvetica Neue";
            font-size: 100px;
            text-align: center;
            padding-left: 0px;
        }
        
        
}

/* PROYECTOS PERSONALES */

.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Las columnas ocuparán un fracción igual del ancho disponible */
    grid-gap: 10px; 
}

.grid-card {
    padding-top: 100px;
    padding-bottom: 200px;
    margin-left: 10%;
    text-align: justify;
    transition: 0.4s;

}

.grid-card:hover{
    transition: 0.4s;
    transform: translateY(1px);}

.proyectos{
    text-align: center;
    font-family: Poppins;
    transition: 0.4s;
    font-size: 65px;



}

.proyectos:hover{
    text-shadow: 2px 2px 4px rgba(77, 77, 77, 0.5);
    transition: 0.4s;
    transform: translate(5px, 5px);}

.card-subtitle{
    font-size: 13px;
    padding-bottom: 10px;
    padding-top: '3px';
}
ion-icon {
    color: rgba(44, 44, 44, 0.836);
    padding-left: 85%;
    }
@media (max-width: 1000px) {
    
    .grid-3{
        display: grid;
        grid-template-columns: 1fr; /* Las columnas ocuparán un fracción igual del ancho disponible */
        grid-gap: 10px; 
        grid-template-rows: 350px 350px 350px;  
    }
        
}

/* CERTIFICACIONES Y EXPERIENCIA ACADEMICA HABILIDADES Y LOGROS*/

.accordeon{
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    gap: 90px;
}

button.accordion-button{
    background-color: rgb(20, 20, 20) !important;
    color: #ffffff !important;
}

button.accordion-button.collapsed{
    background-color: #ffffff !important;
    color: rgb(54, 54, 54) !important;

}


.curriculum{
    font-size: 65px;
}

.text{
    font-family: Poppins;
}


